@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// Colors
$background-color: #824cf6;
$primary-color: #2b2b2b;
$secondary-color: #607d8b;

// Fonts
$font-family-primary: "Bebas Neue", sans-serif;
$primary-font-size: 16px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
